# Entornos virtuales
venv/
./.venv/
me-verifer/.env/
me-verifer/env/
.env

# Carpetas de datos a ignorar (fotos recortadas / privadas)
me-verifer/data/me/
me-verifer/data/cropped/
me-verifer/data/not_me/

# Archivos compilados / caché de Python
__pycache__/
*.py[cod]

